.container{
    text-align: center;
    margin-top: 20px;
    font-family: 'Rowdies', cursive;
}
table{
    margin:auto; 
    /* to make the screen in the centre  */
}
input{
    font-size: 34px;
    height: 68px;
    border-radius: 10px;
    border: 3px solid darkgreen;
}
button{

    border-radius: 25px;
    font-size: 23px;
    background-color: rgb(130, 241, 111);
    width: 102px;
    height: 80px;;
}
.calculator{
   
    border-radius: 25px;
   border:2px solid black;
    padding: 5px;
    display: inline-block;
   background-color: rgb(212, 192, 226);
}

.last p{
    color: black;
    font-size: larger;
    text-align: center;
}